*{
    font-family: 'Cabin', sans-serif;
}
.sidebar{
    align-items: center;
    width: 32%;
    background-color: #dd9f65;
    color: rgb(0, 0, 0);
}
.page-wrapper{
    display: flex;
    margin: 0 auto;
    width: 1024px;
    background-color:white;
}
.photo{
    display: flex;
    align-items: center;
}
.image{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}
.code{
    font-family: verdana;
    font-style: italic;
}
.footer {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.footer img{
    height: 20px;
    vertical-align: sub;
}
.rsschool-logo{
    margin-left: auto;
    display: block;
}
body{
    background-color: rgb(226, 213, 213);
}
.skills{
    margin-left: auto;
}
h1{
    text-align: center;
    padding: 30px; 
    margin: 0; 
}
h2,h3{
    text-align: center;
    padding: 10px; 
    margin: 0;
}
main{
    width: 68%;
    background-color: #f7e7ce ;
    padding: 20px;
}
.code{
    font-size: 82%;
}

section{
    padding: 20px;
}

.contacts li{
    list-style: none;
    margin-bottom: 5px;
}

.contacts img{
    width: 20px;
    height: 20px;
    vertical-align: sub;
}

.languages img{
    width: 25px;
    vertical-align: sub;
}
.languages li{
    margin-bottom: 10px;
    list-style: none;
}