*{
    font-family: 'Rubik', sans-serif;
}
.sidebar{
    background-color: rgb(45, 45, 45);
    color: white;
}
.page-wrapper{
    display: flex;
    margin: 0 auto;
 	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
}
.photo{
    border-radius: 50%
}
.code{
    font-family: verdana;
    font-style: italic;
}
.footer {
    display: flex;
    margin: 0 auto;
}
